# Ambientes virtuais
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente sensíveis
.env
.env.*
*.env
.env.local
.env.development
.env.production

# Sistema Operacional
.DS_Store
Thumbs.db
